body {
    background: #333c49;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    color: #566366;
    margin: 0 0 20px 0;
}

h5 {
    color: #ffa100;
    color: gold;
    text-shadow: 1px 1px 2px black;
}

.shadow {
    text-shadow: 1px 1px black;

}

.shadow>th {
    background: rgba(0, 0, 0, 0.5);
}

.no-shadow {
    text-shadow: 0px 0px none;
}

img {
    vertical-align: middle;
}

.image1 {
    height: 50px;
}

#menuhead {
    height: 70px;
    border-bottom: 5px solid #0066cb;
}

form {
width: 1000px;

border: 3px solid rgb(177, 142, 142);

padding: 20px;

background: rgba(0, 0, 0, 0.3);

border-radius: 20px;

}

h2 {

text-align: center;

margin-bottom: 40px;

}

input {

display: block;

border: 2px solid #ccc;

width: 95%;

padding: 10px;

margin: 10px auto;

border-radius: 5px;

}
.error {

background: #F2DEDE;

color: #0c0101;

padding: 10px;

width: 95%;

border-radius: 5px;

margin: 20px auto;

}

